@font-face {
    font-family: ArchitectsDaughter;
    src: url('./assets/fonts/ArchitectsDaughter.ttf');
}

@font-face {
    font-family: comic;
    src: url('./assets/fonts/comic.ttf');
}

body,
h1,
li,
a {
    color: #c9c9c9;
    font-family: comic;
    text-decoration: none;
}

body {
    height: 5000px;
    background-color: #212121;
}

header {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 92.5vw;
    top: 0;
    left: 0;
    padding: 10px;
    align-items: center;
    justify-content: left;
}

header img.logo {
    width: min(8vw, 55px);
    height: min(8vw, 60px);
    margin: 0vw 3vw 0vw 2vw;
}

header nav.navigator {
    display: flex;
    width: 90%;
    height: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-left: #c9c9c9 2px solid;
}

header nav div.nav-list a {
    font-size: min(2vw, 15px);
    font-weight: bold;
    text-align: center;
    width: 10vw;
    margin: 0px 0px 0px 40px;
}

header nav img.menu-bar {
    display: none;
    width: min(6vw, 35px);
    height: min(6vw, 35px);
    padding: 5px;
    border-radius: 7px;
}

body div.profile-pane {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 18vw;
    right: 8%;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

body .picture-pane {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    z-index: 1;
    background-color: #292929;
    border: #dd7519 1.5vw solid;
}

body div.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body div.name h1 {
    letter-spacing: 2px;
    font-size: 5vw;
    height: 7vw;
    margin: 0;
    padding: 0;
    color: #dd7519;
}

body div.name h4 {
    font-size: 3vw;
    height: 3.5vw;
    margin: 0;
    padding: 0 5% 0 0;
}

body .right-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 27.5%;
    height: 100%;
    background-color: #dd7519;
}

body div.about {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 60vw;
    width: 70%;
    margin: 5vw;
    padding: 4vw 6vw 4vw 6vw;
    font-size: 3vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #212121;
}

body div.about h3 {
    margin: 0;
    padding: 0;
}

body div.about p {
    font-size: 2.5vw;
    margin: 2vw 0vw 1vw 0vw;
    padding: 0;
}

header a:hover {
    color: #dd7519;
}

header nav img.menu-bar:hover {
    background-color: #c06719;
}

@media screen and (max-width: 870px) {
    header nav img.menu-bar {
        display: block;
    }
    header nav div.nav-list a {
        display: none;
    }
    header nav.navigator {
        border-left: 0px;
        justify-content: flex-end;
    }
}