@font-face {
    font-family: ArchitectsDaughter;
    src: url('./assets/fonts/ArchitectsDaughter.ttf');
}

@font-face {
    font-family: comic;
    src: url('./assets/fonts/comic.ttf');
}

html, body, h1, li, a {
    color: #c9c9c9;
    font-family: comic;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    margin: 0;
}

body .right-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 27.5%;
    height: 100%;
    background-color: #dd7519;
}

header {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 92.5vw;
    top: 0;
    left: 0;
    padding: 10px;
    align-items: center;
    justify-content: left;
}

header img.logo {
    width: min(8vw, 55px);
    height: min(8vw, 60px);
    margin: 0vw 3vw 0vw 2vw;
}

header nav.navigator {
    display: flex;
    width: 90%;
    height: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-left: #c9c9c9 2px solid;
}

header nav div.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

header nav div.nav-list div.navigate {
    font-size: max(1.5vw, 5px);
    font-weight: bold;
    text-align: center;
    width: 7.5vw;
    margin: 0px 0px 0px 32.5px;
}

header nav div.nav-list div.navigate a[class*="icon"] {
    display: none;
}

header nav img.menu-bar-img {
    display: none;
    width: min(6vw, 35px);
    height: min(6vw, 35px);
    padding: 5px;
    border-radius: 7px;
}

body div.home {
    display: flex;
    position: relative;
    top: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

body div.home div.picture-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vw;
    margin-left: 5vw;
    border-radius: 50%;
    z-index: 2;
    background-color: #292929;
    border: #dd7519 1.5vw solid;
    overflow: hidden;
}

body div.home div.picture-pane img.mypicture {
    width: 30vw;
    height: 35vw;
    border-radius: 50%;
}

body div.home div.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body div.home div.name h1 {
    letter-spacing: 0.25vw;
    font-size: 4.5vw;
    height: 6vw;
    margin: 0;
    padding: 0;
    color: #dd7519;
}

body div.home div.name h4 {
    letter-spacing: 0.8vw;
    font-size: 2.2vw;
    height: 4vw;
    margin: 0;
    padding: 0;
    color: #c9c9c9;
}

body div.home div.name div.social-icons {
    font-size: 4vw;
    margin: 2px 5px 0px 0px;
    color: #c9c9c9;
}

body div.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

body div.about div.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 5vw;
    padding: 2vw 5.5vw 2vw 5.5vw;
    background-color: #212121;
    border: #dd7519 1.25vw solid;
}

body div.about h3 {
    font-size: min(4.5vw, 25px);
    margin: 1.75vw 0vw 0vw;
    padding: 0;
}

body div.about p {
    font-size: min(3.5vw, 17.5px);
    margin: 1vw 0vw 2.5vw 0vw;
    padding: 0;
}

body div.about div.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.25vh;
}

body div.about div.production h2 {
    font-size: max(4vw, 25px);
    color: #dd7519;
    margin: 2vh;
    padding: 0;
}

body div.about div.production div.contents img {
    width: 13vw;
    height: 12.5vw;
    padding: 1.25vw;
    margin: 0.75vw;
    box-shadow: 2px 2px 5px black;
    background-color: #212121;
    border: #dd7519 1vw solid;
}

body div.about div.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

body div.about div.content div.framework {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 2vw;
    color: #212121;
    padding: 1vw 6vw 1vw 6vw;
    background-color: #dd7519;
    border: #212121 1.75vw solid;
}

body div.about div.content div.prefer-languages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin: 2vw;
    color: #212121;
    padding: 1vw 6vw 1vw 6vw;
    background-color: #dd7519;
    border: #212121 1.75vw solid;
}

header nav.navigator div.nav-list div.navigate:hover {
    color: #dd7519;
}

header nav.navigator div.nav-list div.navigate *:hover {
    color: #dd7519;
}

body div.about div.production div.contents img:hover {
    margin: 0 1.25vw 1.25vw 0;
}

@media screen and (max-width: 900px) {
    header nav img.menu-bar-img {
        display: block;
    }
    header nav.navigator {
        border-left: 0px;
        justify-content: flex-end;
    }
    header nav div.nav-list {
        display: none;
    }
    header nav div.nav-list.show {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 95%;
        width: min(13vw, 47.5px);
        height: min(57.5vw, 225px);
        border-radius: 5px;
        background-color: #dd7519;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    header nav div.nav-list div.navigate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: min(10vw, 40px);
        height: min(10vw, 40px);
        margin: 0.5vw;
        padding: 0;
        border-radius: 5px;
        background-color: #212121;
    }
    header nav div.nav-list div.navigate i {
        display: block;
        font-size: min(4vw, 20px);
    }
    header nav div.nav-list div.navigate a:not([class*="icon"]) {
        display: none;
    }
    header nav div.nav-list div.navigate a[class*="icon"] {
        padding: 15%;
        display: block;
    }
    body div.about div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body div.about div.content div.prefer-languages {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {}